@import "layout/var";

.contacts {
  margin-top: 100px;

  @media (max-width: $sm) {
    margin-top: 50px;
  }

  @media (max-width: $xs) {
    margin-top: 30px;
  }

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    @media (max-width: $xs) {
      font-size: 22px;
      line-height: 28px;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 16px;

    @media (max-width: $xs) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__address {
    font-size: 18px;
    line-height: 21px;

    @media (max-width: $sm) {
      width: 30%;
      font-size: 16px;
    }

    @media (max-width: $xs) {
      width: 100%;
    }

    address {
      font-style: normal;
      margin-top: 16px;

      @media (max-width: $xs) {
        margin-top: 10px;
      }
    }
  }

  &__item {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;

    @media (max-width: $sm) {
      font-size: 18px;
    }

    @media (max-width: $xs) {
      margin-top: 25px;
    }

    a {
      color: black;

      &:hover {
        color: $orange2;
      }
    }

    small {
      display: block;
      font-size: 14px;
      line-height: 16px;
      font-weight: 300;
    }
  }

  &__map {
    margin-top: 26px;
    height: 400px;

    @media (max-width: $xs) {
      height: 300px;
    }
  }
}