@import "layout/var";

.license {
  margin-top: 100px;
  border-top: 1px solid #D0D2D3;

  @media (max-width: $xs) {
    margin-top: 30px;
  }

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-top: 80px;

    @media (max-width: $xs) {
      margin-top: 30px;
      font-size: 22px;
      line-height: 28px;
    }
  }

  &__flex {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $xs) {
      margin-top: 20px;
      flex-direction: column;
    }
  }

  &__img {
    width: 415px;
    height: 600px;
    position: relative;
    flex-shrink: 0;

    @media (max-width: $sm) {

    }

    @media (max-width: $xs) {
      width: 100%;
      margin-top: 30px;
    }
  }

  &__img-item {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;

    &--active {
      opacity: 1;
    }

    img {
      max-width: 100%;
    }
  }

  &__info {
    margin-right: 30px;

    @media (max-width: $xs) {
      margin-right: 0;
      align-self: flex-start;
    }
  }

  &__text {
    margin: 40px 0 0;
    padding: 0;
    list-style: none;

    @media (max-width: $xs) {
      margin-top: 20px;
    }

    li {
      font-size: 18px;
      line-height: 21px;
      margin-top: 21px;
      cursor: pointer;
      transition: 0.3s;

      @media (max-width: $xs) {
        font-size: 14px;
        line-height: 18px;
        margin-top: 16px;
      }
    }
  }

  &__active {
    font-weight: bold;
    font-size: 24px!important;
    line-height: 28px!important;

    @media (max-width: $xs) {
      font-size: 18px!important;
      line-height: 22px!important;
    }
  }
}