@import "layout/var";

.reviews {
  margin-top: 100px;

  @media (max-width: $xs) {
    margin-top: 30px;
  }

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    @media (max-width: $xs) {
      font-size: 22px;
      line-height: 28px;
    }
  }

  &__slider {
    margin: 40px 60px 0;
    position: relative;

    @media (max-width: $xs) {
      margin: 20px 0;
    }
  }

  &__slide {
    @media (max-width: $md) {
      padding: 0 10px;
    }

    @media (max-width: $xs) {
      padding: 0;
    }

    img {
      max-width: 100%;
    }
  }

  .slick-arrow {
    color: transparent;
    font-size: 0;
    display: block;
    width: 20px;
    height: 32px;
    background: url('../img/arr.svg');
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -16px;

    @media (max-width: $xs) {
      top: calc(100% + 20px);
    }

    &.slick-prev {
      transform: scale(-1,1);
      left: -60px;
      z-index: 1000;

      @media (max-width: $md) {
        left: -50px;
      }

      @media (max-width: $xs) {
        left: auto;
        right: calc(50% + 30px);
        margin-top: 0;
      }
    }

    &.slick-next {
      right: -25px;

      @media (max-width: 1300px) {
        right: -45px;
      }

      @media (max-width: $xs) {
        left: calc(50% + 30px);
        right: auto;
        margin-top: 0;
      }
    }
  }
}