@import "layout/var";

.steps {
  margin-top: 100px;

  @media (max-width: $xs) {
    margin-top: 30px;
  }

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    max-width: 780px;
    margin: 0 auto;

    @media (max-width: $xs) {
      font-size: 22px;
      line-height: 28px;
    }
  }

  &__flex {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;

    @media (max-width: $xs) {
      margin-top: 20px;
      flex-direction: column;
    }
  }

  &__item {
    width: 30.5%;
    flex-shrink: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    @media (max-width: $xs) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__icon {
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 64px;
    }
  }

  &__num {
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    background: linear-gradient(144.88deg, $orange1 -220.81%, $orange2 97.01%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 4px 18px 5px;
  }

  &__text {
    padding: 14px 16px 16px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;

    a {
      color: black;
      display: block;
      font-size: 36px;
      line-height: 48px;

      @media (max-width: $md) {
        font-size: 30px;
      }

      @media (max-width: $sm) {
        font-size: 23px;
      }

      @media (max-width: $xs) {
        font-size: 30px;
      }

      &:hover {
        color: $orange2;
      }
    }

    span {
      color: $orange1;
    }
  }
}